/* src/components/MagicCard/MagicCard.css */
.magic-card {
  border: 2px solid #000;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
  width: auto;
}

.magic-card:hover {
  transform: scale(1.1);
}

.magic-card img {
  max-width: 400px;
  max-height: 400px;
  height: auto;
}

.magic-card.flipped {
  cursor: not-allowed;
}

.magic-card.disabled {
  background-color: red;
  cursor: not-allowed;
}

.magic-card.correct {
  background-color: green;
  cursor: not-allowed;
}

.magic-card.pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
